<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Project</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .jumbotron {
            background-color: #f0ad4e;
            color: #fff;
            padding: 100px;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            padding: 30px;
            margin-bottom: 30px;
        }

        .card-title {
            color: #f0ad4e;
            font-weight: bold;
            font-size: 24px;
        }

        .card-text {
            font-size: 18px;
        }

        .pen {
            position: absolute;
            top: 50%;
            right: 20%;
            transform: translate(-50%, -50%);
            font-size: 48px;
            color: #f0ad4e;
            opacity: 0.5;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1><strong>ACT Fibernet</strong></h1>
        <p>Experience blazing-fast internet speeds with ACT Fibernet, delivering seamless connectivity and reliable service for all your online needs.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-title">Offer 1</div>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel pharetra
                        ex. Nulla facilisi. Aliquam erat volutpat. Donec eget tortor rhoncus, scelerisque justo eu,
                        condimentum ex.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-title">Offer 2</div>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel pharetra
                        ex. Nulla facilisi. Aliquam erat volutpat. Donec eget tortor rhoncus, scelerisque justo eu,
                        condimentum ex.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-title">Offer 3</div>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel pharetra
                        ex. Nulla facilisi. Aliquam erat volutpat. Donec eget tortor rhoncus, scelerisque justo eu,
                        condimentum ex.</div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer font-small blue pt-4 mt-4" style="background-color: #333; color: #fff;">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Contact</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Address</a>
                        </li>
                        <li>
                            <a href="#!">Phone</a>
                        </li>
                        <li>
                            <a href="#!">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center" style="padding: 10px;">
            <p>&copy; 2023 Chatbot Example</p>
        </div>
    </footer>
    <script>(function(){var js,fs,d=document,id="tars-widget-script",b="https://tars-file-upload.s3.amazonaws.com/bulb/";if(!d.getElementById(id)){js=d.createElement("script");js.id=id;js.type="text/javascript";js.src=b+"js/widget.js";fs=d.getElementsByTagName("script")[0];fs.parentNode.insertBefore(js,fs)}})();window.tarsSettings = {"convid":"kwT1VU"};</script>
</body>

</html>